# Run flake8 (pycodestyle + pyflakes) check.
# https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
# Ignored errors:
# - E501: line too long
# - W503: line break before binary operator (deprecated rule)
# - W505: doc line too long

[flake8]

ignore =
    E501
    W503
    W505

exclude = .git,submodules
