[submodule "submodules/overlay-display-manager"]
	path = submodules/overlay-display-manager
	url = https://github.com/UbiCastTeam/overlay-display-manager.git
[submodule "submodules/javascript-utils"]
	path = submodules/javascript-utils
	url = https://github.com/UbiCastTeam/jsu.git
