/* Styles for file browser */
html.file-browser-default {
    background: #fff;
}

.file-browser * {
    margin: 0;
    padding: 0;
}

.file-browser {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.file-browser a {
    text-decoration: none;
}

.file-browser input[type=text] {
    width: 220px;
}


/* title and footer bar */
.file-browser .title-bar,
.file-browser .footer-bar {
    color: #fff;
    background: #1c73bf;
}
.file-browser .title-bar {
    padding: 6px 8px;
    height: 24px;
    line-height: 24px;
}
.file-browser .title-bar h2 {
    margin: 0;
    font-size: 20px;
    color: #fff;
}
.file-browser .title-bar a {
    color: #ddd;
}
.file-browser .title-bar a:hover {
    color: #fff;
    text-decoration: underline;
}

.file-browser .menu-place {
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 250px;
    background: rgba(127, 127, 127, 0.3);
    border-right: 1px solid #1c73bf;
}
.file-browser .content-place {
    top: 0;
    bottom: 0;
    left: 251px;
    right: 0;
    position: absolute;
}
.file-browser .content-container {
    padding: 0 8px;
    top: 36px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: auto;
}
.file-browser .content-place .content-container {
    padding: 0 3px;
    bottom: 36px;
}
.file-browser .footer-bar {
    padding: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.file-browser .footer-bar span + span {
    margin-left: 16px;
}


/* buttons and buttons bar */
.file-browser .buttons-bar {
    margin-right: -8px;
    float: right;
}
.file-browser .footer-bar .buttons-bar {
    margin-right: 60px;
}
.file-browser button,
.file-browser select {
    padding: 2px 4px;
    height: 24px;
    color: #222;
    font-size: 14px;
    font-weight: normal;
    background: #ddd none 4px 50% no-repeat;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    transition-property: background-color, color, border-color;
    transition-duration: 0.3s;
}
.file-browser button:hover,
.file-browser select:hover {
    color: #1c73bf;
    background-color: #fff;
    border-color: #ddd;
}
.file-browser button:disabled,
.file-browser button.disabled,
.file-browser select:disabled,
.file-browser select.disabled {
    cursor: default;
    color: #1c73bf;
    background-color: #ddd;
    border-color: #ccc;
    opacity: 0.6;
}
.file-browser .file-browser-btn {
    margin-right: 8px;
}


/* menu list */
.file-browser .menu-place p {
    margin: 8px 0;
}
.file-browser .menu-place a {
    display: block;
}
.file-browser .menu-place ul {
    margin: 0;
    word-wrap: break-word;
}
.file-browser .menu-place ul ul {
    margin-left: 20px;
    padding: 0;
}
.file-browser .menu-place li ul {
    display: none;
}
.file-browser .menu-place li.opened > ul {
    display: block;
}
.file-browser .menu-place li {
    margin: 5px 0;
    list-style: none;
    line-height: 20px;
    overflow: hidden;
    position: relative;
}
.file-browser .menu-place li > button {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background: transparent none 50% 50% no-repeat; 
    text-align: center;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    transition: all .3s;
}
.file-browser .menu-place li.opened > button {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.file-browser .menu-place li a {
    margin-left: 21px;
}
.file-browser .menu-place li.active > a {
    color: inherit;
    font-weight: bold;
}

/* messages */
.file-browser .messages-container {
    margin: 8px 4px;
    overflow: hidden;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.file-browser .messages-container .show-messages-btn { display: none; }
.file-browser .messages-container.hidden .show-messages-btn { display: block; }
.file-browser .messages-container .hide-messages-btn { display: block; }
.file-browser .messages-container.hidden .hide-messages-btn { display: none; }

.file-browser .message-info,
.file-browser .message-success,
.file-browser .message-warning,
.file-browser .message-error {
    margin: 10px;
    padding: 10px;
    padding-left: 40px;
    position: relative;
}
.file-browser .message-info:before,
.file-browser .message-success:before,
.file-browser .message-warning:before,
.file-browser .message-error:before {
    top: 50%;
    left: 0;
    margin-top: -10px;
    line-height: 20px;
    width: 40px;
    position: absolute;
    text-align: center;
    font: normal normal normal 20px/1 FontAwesome;
}
.file-browser .message-info {
    color: rgb(50, 50, 255);
    background: rgba(50, 50, 255, 0.2);
}
.file-browser .message-info:before {
    content: "\f05a"; /* fa-info-circle */
}
.file-browser .message-success {
    color: rgb(50, 255, 50);
    background: rgba(50, 255, 50, 0.2);
}
.file-browser .message-success:before {
    content: "\f058"; /* fa-check-circle */
}
.file-browser .message-warning {
    color: rgb(255, 150, 50);
    background: rgba(255, 150, 50, 0.2);
}
.file-browser .message-warning:before {
    content: "\f071"; /* fa-warning */
}
.file-browser .message-error {
    color: rgb(255, 50, 50);
    background: rgba(255, 50, 50, 0.2);
}
.file-browser .message-error:before {
    content: "\f057"; /* fa-times-circle */
}


.file-browser select option:disabled {
    background: #888;
    color: #fff;
}

.file-browser #path_bar a {
    max-width: 200px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-browser #path_bar span {
    display: inline-block;
    overflow: hidden;
}

/* file list */
.file-browser .files-list {
    padding: 3px 0;
    padding-bottom: 80px;
}
.file-browser .file-block {
    margin: 5px;
    width: 212px;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: top;
}
.file-browser .file-block a,
.file-browser .file-block span {
    display: block;
}
.file-browser .file-block a.file-link {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 6px;
}
.file-browser .file-block.selected a.file-link {
    background: rgba(185, 230, 255, 0.2);
    border-color: #b9e6ff;
}
.file-browser .file-block:hover a.file-link {
    background: rgba(35, 190, 255, 0.2);
    border-color: #1c73bf;
}
.file-browser .file-block .file-icon {
    text-align: center;
    height: 64px;
    background: transparent url("img/types/file.png") 50% 50% no-repeat;
}
.file-browser .file-block .file-name {
    margin-top: 4px;
    word-wrap: break-word;
}
.file-browser .file-block.previous .file-icon { background-image: url("img/types/previous.png"); }
.file-browser .file-block.folder .file-icon { background-image: url("img/types/folder.png"); }
.file-browser .file-block.file-png .file-icon,
.file-browser .file-block.file-bmp .file-icon,
.file-browser .file-block.file-jpeg .file-icon,
.file-browser .file-block.file-gif .file-icon,
.file-browser .file-block.file-tiff .file-icon,
.file-browser .file-block.file-jpg .file-icon,
.file-browser .file-block.file-png .file-icon { background-image: url("img/types/img.png"); }
.file-browser .file-block.file-mp3 .file-icon,
.file-browser .file-block.file-wav .file-icon,
.file-browser .file-block.file-oga .file-icon { background-image: url("img/types/audio.png"); }
.file-browser .file-block.file-mp4 .file-icon,
.file-browser .file-block.file-mpg .file-icon,
.file-browser .file-block.file-mov .file-icon,
.file-browser .file-block.file-webm .file-icon,
.file-browser .file-block.file-ogg .file-icon,
.file-browser .file-block.file-ogv .file-icon,
.file-browser .file-block.file-wmv .file-icon,
.file-browser .file-block.file-flv .file-icon,
.file-browser .file-block.file-ts .file-icon,
.file-browser .file-block.file-mkv .file-icon,
.file-browser .file-block.file-m4v .file-icon,
.file-browser .file-block.file-avi .file-icon { background-image: url("img/types/video.png"); }
.file-browser .file-block.file-7z .file-icon,
.file-browser .file-block.file-bz2 .file-icon,
.file-browser .file-block.file-deb .file-icon,
.file-browser .file-block.file-gz .file-icon,
.file-browser .file-block.file-xz .file-icon,
.file-browser .file-block.file-zip .file-icon { background-image: url("img/types/zip.png"); }
.file-browser .file-block.file-exe .file-icon { background-image: url("img/types/exe.png"); }
.file-browser .file-block.file-doc .file-icon,
.file-browser .file-block.file-docx .file-icon { background-image: url("img/types/doc.png"); }
.file-browser .file-block.file-ppt .file-icon,
.file-browser .file-block.file-pptx .file-icon { background-image: url("img/types/ppt.png"); }
.file-browser .file-block.file-csv .file-icon,
.file-browser .file-block.file-tsv .file-icon,
.file-browser .file-block.file-xls .file-icon,
.file-browser .file-block.file-xlsx .file-icon { background-image: url("img/types/xls.png"); }
.file-browser .file-block.file-pdf .file-icon { background-image: url("img/types/pdf.png"); }
.file-browser .file-block.file-js .file-icon { background-image: url("img/types/js.png"); }
.file-browser .file-block.file-html .file-icon { background-image: url("img/types/html.png"); }
.file-browser .file-block.file-xml .file-icon { background-image: url("img/types/xml.png"); }
.file-browser .file-block.file-py .file-icon { background-image: url("img/types/py.png"); }
.file-browser .file-block.file-cnf .file-icon,
.file-browser .file-block.file-conf .file-icon,
.file-browser .file-block.file-ini .file-icon,
.file-browser .file-block.file-log .file-icon,
.file-browser .file-block.file-txt .file-icon { background-image: url("img/types/txt.png"); }
.file-browser .file-block.file-sql .file-icon,
.file-browser .file-block.file-db .file-icon { background-image: url("img/types/db.png"); }

.file-browser .file-block .file-delete,
.file-browser .file-block .file-rename,
.file-browser .file-block .file-move {
    padding: 0;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    display: none;
}
.file-browser .file-block:hover .file-delete,
.file-browser .file-block:hover .file-rename,
.file-browser .file-block:hover .file-move {
    display: block;
}
.file-browser .file-block .file-rename {
    top: 32px;
}
.file-browser .file-block .file-move {
    right: 32px;
}

.file-browser .file-block .file-info {
    margin: 1px 0;
    padding: 5px;
    top: 100%;
    left: 5px;
    right: 5px;
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 6px;
    z-index: 1;
}
.file-browser .file-block:hover .file-info {
    display: block;
}
.file-browser .file-block:hover .file-info:hover {
    display: none;
}

#fm_drop_zone {
    top: 36px;
    bottom: 32px;
    left: 0;
    right: 0;
    position: absolute;
    display: none;
}
#fm_drop_zone .drop-zone-bg {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
    background: rgba(40, 180, 255, 0.3);
    border: 2px dashed #29f;
}
#fm_drop_zone.hovered,
#fm_drop_zone.uploading {
    display: block;
}
#fm_drop_zone .drop-zone-aligner {
    margin-top: -20px;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}
#fm_drop_zone .drop-zone-upload {
    display: none;
}
#fm_drop_zone .drop-zone-info,
#fm_drop_zone.uploading .drop-zone-upload {
    padding: 5px 10px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
}
#fm_drop_zone.uploading .drop-zone-info {
    display: none;
}

/* overlay windows */
.file-browser-overlay .search-results {
    margin-bottom: 10px;
}
.file-browser-overlay .search-results p {
    margin: 5px -10px;
    padding: 4px 10px;
    background: rgba(128, 128, 128, 0.25);
}
.file-browser-overlay .search-results ul {
    margin: 5px 10px 10px 20px;
    padding: 0;
}
