{% load i18n %}
<fieldset class="no-border no-padding no-margin">
{% include widget.orig_template_name %}
<input type="text" disabled="disabled" id="hidden_{{ widget.attrs.id }}" value="{{ widget.hidden_value }}" {% include "django/forms/widgets/attrs.html" %}/>
<button type="button" onclick="this.disabled = true; const h = document.getElementById('{{ widget.attrs.id }}'), v = document.getElementById('hidden_{{ widget.attrs.id }}'), t = this.getElementsByTagName('span')[0]; if (h.type == 'hidden') {h.type = 'text'; v.style.display = 'none'; t.textContent = t.getAttribute('data-hide'); h.focus(); h.dispatchEvent(new CustomEvent('password-visible', {detail: true}));} else {h.type = 'hidden'; v.value = '●'.repeat(h.value.length); v.style.display = ''; t.textContent = t.getAttribute('data-edit'); h.dispatchEvent(new CustomEvent('password-visible', {detail: false}));}; this.disabled = false;">
    <i class="fa fa-fw fa-edit" aria-hidden="true"></i>&nbsp;<span data-hide="{% trans 'Hide' context 'value' %}" data-edit="{% trans 'Edit' context 'value' %}">{% trans 'Edit' context 'value' %}</span>
</button>
<button type="button" onclick="this.disabled = true; const h = document.getElementById('{{ widget.attrs.id }}'), t = this.getElementsByTagName('span')[0], l = t.textContent; navigator.clipboard.writeText(h.value); t.textContent = t.getAttribute('data-copied'); setTimeout(() => {t.textContent = l; this.disabled = false;}, 1000)">
    <i class="fa fa-fw fa-clipboard" aria-hidden="true"></i>&nbsp;<span data-copied="{% trans 'Copied!' context 'value' %}">{% trans 'Copy' context 'value' %}</span>
</button>
</fieldset>
