{% load i18n %}
<fieldset class="no-border no-padding no-margin">
{% include widget.orig_template_name %}
<input type="text" disabled="disabled" id="hidden_{{ widget.attrs.id }}" value="{{ widget.hidden_value }}" {% include "django/forms/widgets/attrs.html" %}/>
<button type="button" onclick="javascript: var h = document.getElementById('{{ widget.attrs.id }}'), v = document.getElementById('hidden_{{ widget.attrs.id }}'), s = this.getElementsByTagName('span')[0]; if (h.type == 'hidden') { h.type = 'text'; v.style.display = 'none'; s.innerText = ' {% trans 'Hide value' %}'; h.focus(); h.dispatchEvent(new CustomEvent('password-visible', {detail: true})); } else { h.type = 'hidden'; v.value = '●'.repeat(h.value.length); v.style.display = ''; s.innerText = ' {% trans 'Edit value' %}'; h.dispatchEvent(new CustomEvent('password-visible', {detail: false})); };">
    <i class="fa fa-edit" aria-hidden="true"></i>
    <span> {% trans "Edit value" %}</span>
</button>
</fieldset>
