{% load i18n %}{% load static %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="file-browser-default">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="DC.Format" content="text/html"/>
    <meta name="DC.Title" content="{% trans "Daemons monitoring" %}"/>

    <title>{% trans "Daemons monitoring" %}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'monitoring/odm/odm.css' %}?_=1"/>
    <script type="text/javascript" src="{% static 'monitoring/jsu.min.js' %}?_=1"></script>
    <script type="text/javascript" src="{% static 'monitoring/odm/odm.js' %}?_=1"></script>
</head>

<body>
    {% include monitoring_body %}
</body>
</html>
