{% load i18n %}{% load static %}
{% comment %}
Single daemon view: template to show only one daemon status.
Intended to be used directly in other projects.
Required arguments:
    daemon: The daemon name.
    namespace: The monitoring app namespace.
    show_controls: Boolean to indicate if controls should be displayed.
{% endcomment %}
{% if as_row %}
<table class="even-odd daemon-{{ daemon }}">
    <tr>
        <th>{% trans "Status" %}</th>
        {% if show_controls %}
        <th>{% trans "Commands" %}</th>
        {% endif %}
        {% if show_log %}
        <th colspan="3" class="center">{% trans "Log file" %}</th>
        {% endif %}
    </tr>
    <tr>
        <td class="nowrap">
            <span class="daemon-status">{% trans "Loading" %}...</span>
        </td>
        {% if show_controls %}
        <td class="nowrap">
            <button type="button" class="daemon-stop">{% trans "Stop" %}</button>
            <a class="button" href="{% url namespace|add:':monitoring-config' daemon %}">{% trans "Configure" %}</a>
        </td>
        {% endif %}
        {% if show_log %}
        <td class="nowrap">
            {% trans "Last modification:" %} <span class="daemon-log-mtime mono"></span>
        </td>
        <td class="nowrap">
            {% trans "File size:" %} <span class="daemon-log-size mono"></span>
        </td>
        <td class="nowrap">
            <a href="{% url namespace|add:':monitoring-log' daemon %}">{% trans "See" %}</a>
            <a class="marged" href="{% url namespace|add:':monitoring-log' daemon %}?tail">{% trans "See tail" %}</a>
            {% if show_controls %}
            <button type="button" class="marged daemon-log-clear" title="{% trans 'Clear log' %}">✖</button>
            {% endif %}
        </td>
        {% endif %}
    </tr>
</table>
{% else %}
<table class="even-odd daemon-{{ daemon }}">
    <tr>
        <th>{% trans "Status" %}</th>
        <td class="nowrap"><span class="daemon-status">{% trans "Loading" %}...</span></td>
    </tr>
    {% if show_controls %}
    <tr>
        <th>{% trans "Commands" %}</th>
        <td class="nowrap">
            <button type="button" class="daemon-stop">{% trans "Stop" %}</button>
            <a class="button" href="{% url namespace|add:':monitoring-config' daemon %}">{% trans "Configure" %}</a>
        </td>
    </tr>
    {% endif %}
    {% if show_log %}
    <tr>
        <th colspan="2" class="center">{% trans "Log file" %}</th>
    </tr>
    <tr>
        <th>{% trans "Last modification" %}</th>
        <td><span class="daemon-log-mtime mono"></span></td>
    </tr>
    <tr>
        <th>{% trans "File size" %}</th>
        <td><span class="daemon-log-size mono"></span></td>
    </tr>
    <tr>
        <th>{% trans "Actions" %}</th>
        <td class="nowrap">
            <a href="{% url namespace|add:':monitoring-log' daemon %}">{% trans "See" %}</a>
            <a class="marged" href="{% url namespace|add:':monitoring-log' daemon %}?tail">{% trans "See tail" %}</a>
            {% if show_controls %}
            <button type="button" class="marged daemon-log-clear" title="{% trans 'Clear log' %}">✖</button>
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
{% endif %}
<script type="text/javascript" src="{% url namespace|add:':monitoring-jsi18n' %}?_=1"></script>
<script type="text/javascript" src="{% static 'monitoring/daemons-manager.js' %}?_=6"></script>
<script type="text/javascript">
    var dman = new DaemonsManager({
        daemons: [{name: "{{ daemon }}"}],
        commandsURL: "{% url namespace|add:':monitoring-command' %}",
        statusURL: "{% url namespace|add:':monitoring-status' %}?name={{ daemon }}"
    });
</script>
