{% load i18n %}{% load static %}
{% comment %}
Single daemon view: template to show only one daemon status.
Intended to be used directly in other projects.
Required arguments:
    daemon: The daemon name.
    namespace: The monitoring app namespace.
    show_controls: Boolean to indicate if controls should be displayed.
{% endcomment %}
<table class="even-odd daemon-{{ daemon }}">
    <tr class="daemon-all">
        <th>{% trans "Status" %}</th>
        <td style="width: 170px;"><span class="daemon-status">{% trans "Loading" %}...</span></td>
    </tr>
    {% if show_controls %}
    <tr>
        <th>{% trans "Commands" %}</th>
        <td class="nowrap">
            <button type="button" class="daemon-stop">{% trans "Stop" %}</button>
            <a class="button" href="{% url namespace|add:':monitoring-config' daemon %}">{% trans "Configure" %}</a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th colspan="2" class="center">{% trans "Log file" %}</th>
    </tr>
    <tr>
        <th>{% trans "Last modification" %}</th>
        <td><span class="daemon-log-mtime mono"></span></td>
    </tr>
    <tr>
        <th>{% trans "File size" %}</th>
        <td><span class="daemon-log-size mono"></span></td>
    </tr>
    <tr>
        <th>{% trans "Actions" %}</th>
        <td class="nowrap">
            <a href="{% url namespace|add:':monitoring-log' daemon %}">{% trans "See" %}</a>
            <a class="marged" href="{% url namespace|add:':monitoring-log' daemon %}?tail">{% trans "See tail" %}</a>
            {% if show_controls %}
                <button type="button" class="marged daemon-log-clear" title="{% trans 'Clear log' %}"><i class="fa fa-trash"></i></button>
            {% endif %}
        </td>
    </tr>
</table>
<script type="text/javascript" src="{% url namespace|add:':monitoring-jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'monitoring/pwd-manager.js' %}?_=3"></script>
<script type="text/javascript" src="{% static 'monitoring/daemons-manager.js' %}?_=5"></script>
<script type="text/javascript">
    var dman = new DaemonsManager({
        daemons: [{name: "{{ daemon }}"}],
        commandsURL: "{% url namespace|add:':monitoring-command' %}",
        statusURL: "{% url namespace|add:':monitoring-status' %}?name={{ daemon }}"
    });
</script>
