{% load i18n %}{% load static %}

<div class="top-bar">
    {% include "monitoring/log_bar.html" %}
</div>

<div>
    {% if file_content %}
        <pre class="log-block">{{ file_content }}</pre>
    {% else %}
        <div class="margin-32">
            <div class="messages">
                <div class="message info">{% trans "Log file is empty." %}</div>
            </div>
        </div>
    {% endif %}
</div>

{% if bottom_bar %}
    <div class="bottom-bar">
        {% include "monitoring/log_bar.html" %}
    </div>
{% endif %}
