{% load i18n %}{% load static %}
<style type="text/css">
    .daemon-list a,
    .daemon-list button {
        display: inline-block; margin: 0.1em 0.5em;
    }
    .daemon-list .daemon-group-name div {
        writing-mode: sideways-lr;
    }
</style>
{% if back_url %}
    <div class="top-bar">
        <span><a href="{{ back_url }}">← {% trans "Back" %}</a></span>
    </div>
{% endif %}
{% csrf_token %}
<table class="daemon-list">
    <thead>
        <tr class="daemon-all">
            <th></th>
            <th>{% trans "Name" %} & {% trans "Status" %}<br/><small>({% trans "Host:" %} {{ hostname }})</small></th>
            <th>{% trans "Last log modification" %}</th>
            <th>{% trans "Log file size" %}</th>
            <th>{% trans "Actions" %}</th>
            <th>{% spaceless %}
                {% if show_top_controls %}
                    <button type="button" class="daemon-start" title="{% trans 'Start all' %}">▷</button>
                    <button type="button" class="daemon-stop" title="{% trans 'Stop all' %}">□</button>
                    <button type="button" class="daemon-restart" title="{% trans 'Restart all' %}">↻</button>
                {% endif %}
            {% endspaceless %}</th>
        </tr>
    </thead>
    <tbody>
    {% for group in daemons_groups %}
        {% for daemon in group.daemons %}
            <tr class="{% cycle 'even' 'odd' %} daemon-{{ daemon.name }}">
                {% if forloop.first %}
                    <th rowspan="{{ group.rowspan }}" class="daemon-group-name"><div>{{ group.label }}</div></th>
                {% endif %}
                <td colspan="5">
                    <b>{{ daemon.label }}</b>
                    {% if daemon.help_text %}<i class="marged">{{ daemon.help_text }}</i>{% endif %}
                </td>
            </tr>
            <tr class="{% cycle 'even' 'odd' %} daemon-{{ daemon.name }}">
                <td class="daemon-status-cell">
                    {% if daemon.only_log %}
                        <i>{% trans "log file" %}</i>
                    {% else %}
                        <span class="daemon-status">{% trans "Loading" %}...</span>
                    {% endif %}
                </td>
                <td><span class="daemon-log-mtime"></span></td>
                <td><span class="daemon-log-size"></span></td>
                <td class="daemon-links">
                    <a href="{% url monitoring_namespace|add:':monitoring-log' daemon.name %}?tail">{% trans "See log" %}</a>
                </td>
                <td class="daemon-actions">{% spaceless %}
                    {% if daemon.show_controls and not daemon.no_commands %}
                        {% if not daemon.only_stop %}
                            <button type="button" class="daemon-start" title="{% trans 'Start' %}">▷</button>
                        {% endif %}
                        <button type="button" class="daemon-stop" title="{% trans 'Stop' %}">□</button>
                        {% if not daemon.only_stop %}
                            <button type="button" class="daemon-restart" title="{% trans 'Restart' %}">↻</button>
                        {% endif %}
                    {% endif %}
                {% endspaceless %}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="{% url monitoring_namespace|add:':monitoring-jsi18n' %}?_=1"></script>
<script type="text/javascript" src="{% static 'monitoring/daemons-manager.js' %}?_=6"></script>
<script type="text/javascript">
    new DaemonsManager({
        daemons: [
        {% for group in daemons_groups %}
            {% for daemon in group.daemons %}
            { name: "{{ daemon.name }}"{% if daemon.is_root %}, isRoot: true{% endif %} },
            {% endfor %}
        {% endfor %}
            { name: "all" }
        ],
        commandsURL: "{% url monitoring_namespace|add:':monitoring-command' %}",
        statusURL: "{% url monitoring_namespace|add:':monitoring-status' %}"
    });
</script>
