{% load i18n %}{% load static %}
{% if back_url %}
    <div class="top-bar">
        <span><a href="{{ back_url }}">← {% trans "Back" %}</a></span>
    </div>
{% endif %}
{% csrf_token %}
<table class="daemon-list">
    <tr class="center daemon-all">
        <th rowspan="2"></th>
        <th rowspan="2">{% trans "Status" %}</th>
        <th colspan="3">{% trans "Log file" %}</th>
        <th rowspan="2">{% trans "Commands" %}
            <div class="bottom-bar center">
                <button type="button" class="daemon-start" title="{% trans 'Start all' %}">▷</button>
                <button type="button" class="daemon-stop" title="{% trans 'Stop all' %}">□</button>
                <button type="button" class="daemon-restart" title="{% trans 'Restart all' %}">↻</button>
            </div>
        </th>
    </tr>
    <tr class="center daemon-all">
        <th>{% trans "Last modification" %}</th>
        <th>{% trans "File size" %}</th>
        <th>
            <span class="right">
                <button class="daemon-log-clear" title="{% trans 'Clear all logs' %}">✖</button>
            </span>
            {% trans "Actions" %}
        </th>
    </tr>
    {% for group in daemons_groups %}
        {% for daemon in group.members %}
            <tr class="{% cycle 'even' 'odd' %}">
                {% if forloop.first %}
                    <th rowspan="{{ group.rowspan }}" class="daemons-group-name"><div>{{ group.label }}</div></th>
                {% endif %}
                <td colspan="5">
                    <b>{{ daemon.label }} {% if daemon.only_log %}- {% trans "log file" %}{% elif daemon.only_conf %}- {% trans "config file" %}{% endif %}</b>
                    {% if daemon.help_text %}<p class="helptext padded">{{ daemon.help_text }}</p>{% endif %}
                </td>
            </tr>
            <tr class="{% cycle 'even' 'odd' %} center daemon-{{ daemon.name }}">
                <td style="width: 150px;">{% if daemon.only_log or daemon.only_conf %}-{% endif %}<span class="daemon-status" {% if daemon.only_log or daemon.only_conf %}style="display: none;"{% endif %}>{% trans "Loading" %}...</span></td>
                <td><span class="daemon-log-mtime"></span></td>
                <td><span class="daemon-log-size"></span></td>
                <td class="nowrap">
                    {% if not daemon.only_conf %}
                        <a href="{% url 'monitoring-log' daemon.name %}"><button type="button">{% trans "See" %}</button></a>
                        <a href="{% url 'monitoring-log' daemon.name %}?tail"><button type="button">{% trans "See tail" %}</button></a>
                        <button type="button" class="daemon-log-clear" title="{% trans 'Clear log' %}">✖</button>
                    {% endif %}
                </td>
                <td class="nowrap">
                    {% if not daemon.no_commands %}
                        {% if not daemon.only_stop %}
                            <button type="button" class="daemon-start" title="{% trans 'Start' %}">▷</button>
                        {% endif %}
                        <button type="button" class="daemon-stop" title="{% trans 'Stop' %}">□</button>
                        {% if not daemon.only_stop %}
                            <button type="button" class="daemon-restart" title="{% trans 'Restart' %}">↻</button>
                        {% endif %}
                    {% endif %}
                    {% if daemon.conf_path %}
                        <a href="{% url 'monitoring-config' daemon.name %}" title="{% trans 'Edit configuration' %}"><button type="button">⚙</button></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<script type="text/javascript" src="{% static 'monitoring/pwd_manager.js' %}?_=3"></script>
<script type="text/javascript" src="{% static 'monitoring/daemons_manager.js' %}?_=4"></script>
<script type="text/javascript">
    var dman = new DaemonsManager({
        daemons: [
        {% for group in daemons_groups %}
            {% for daemon in group.members %}
            { name: "{{ daemon.name }}"{% if daemon.is_root %}, isRoot: true{% endif %} },
            {% endfor %}
        {% endfor %}
            { name: "all" }
        ],
        commandsURL: "{% url 'monitoring-command' %}",
        statusURL: "{% url 'monitoring-status' %}",
        pwdURL: "{% url 'monitoring-check_password' %}",
        translations: {
            "Command result": "{% trans "Command result" %}",
            "Command output:": "{% trans "Command output:" %}",
            "No messages have been returned.": "{% trans "No messages have been returned." %}",
            "Close": "{% trans "Close" %}",
            "running": "{% trans "running" %}",
            "not running": "{% trans "not running" %}",
            "need password": "{% trans "need password" %}",
            "Click to enter password": "{% trans "Click to enter password" %}"
        }
    });
</script>
