/* Overlay stylesheet */ 
div.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    background: transparent url(../images/overlay/black_mask.png) 0 0 repeat;
    z-index: 50;
}
div.overlay.no-fixed {
    bottom: auto;
    right: auto;
    position: absolute;
}
div.overlay div.overlay-aligner {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
div.overlay div.overlay-layer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
}
div.overlay div.overlay-closer {
    z-index: 40;
}
div.overlay table.overlay-table {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
div.overlay tr.overlay-table,
div.overlay th.overlay-table,
div.overlay td.overlay-table {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0 none;
}
div.overlay td.overlay-table {
    vertical-align: middle;
}
div.overlay .overlay-element-layer {
    display: none;
}
div.overlay .overlay-block {
    display: block;
    position: relative;
    border: 1px solid #666;
    background: #222 url("../images/overlay/light.png") 0 0 repeat-x;
    overflow: hidden;
    z-index: 45;
    border-radius: 4px;
}
div.overlay .overlay-block-bg {
    padding: 5px;
    display: block;
    background: transparent url("../images/overlay/shadow.png") 0 100% repeat-x;
}

/* close button */
div.overlay .overlay-close {
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    background: #222 url("../images/overlay/light.png") 0 0 repeat-x;
    border-bottom-left-radius: 4px;
}
div.overlay .overlay-close div {
    width: 28px;
    height: 28px;
    display: block;
    background: transparent url("../images/overlay/close.png") 0 50% no-repeat;
}
div.overlay .overlay-close:hover div {
    background-position: 100% 50%;
}
div.overlay.top-bar-displayed .overlay-close {
    padding-top: 4px;
    padding-right: 4px;
    background: transparent;
}

/* loading and error */
div.overlay div.overlay-error-content {
    padding: 45px;
    padding-left: 110px;
    padding-right: 30px;
    background: transparent url(../images/overlay/warning.png) 30px 50% no-repeat;
}
div.overlay div.overlay-loading-content {
    padding: 45px;
    padding-left: 110px;
    padding-right: 30px;
    background: transparent url(../images/overlay/loading.gif) 30px 50% no-repeat;
}

/* top-bar */
div.overlay .overlay-top-bar {
    padding-bottom: 5px;
    padding-right: 50px;
    color: #ddd;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    display: none;
}
div.overlay .overlay-top-bar .overlay-resources {
    top: 5px;
    right: 40px;
    height: 25px;
    position: absolute;
    display: none;
}
/* bottom-bar */
div.overlay .overlay-bottom-bar {
    padding: 0 2px;
    padding-top: 5px;
    color: #ddd;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    display: none;
}
div.overlay .overlay-bottom-bar button {
    vertical-align: middle;
}
div.overlay .overlay-bottom-bar button + button {
    margin-left: 8px;
}

/* element block */
div.overlay .overlay-element-container {
    position: relative;
    background: #000;
    overflow: hidden;
    border-radius: 3px;
}
div.overlay .overlay-element-container .overlay-hover-loading {
    top: 20px;
    left: 20px;
    position: absolute;
    display: none;
    border: 1px solid #666;
    background: transparent url("../images/overlay/black_mask.png") 0 0 repeat;
    border-radius: 6px;
}
div.overlay .overlay-element-container .overlay-hover-loading div {
    padding: 8px 16px;
    padding-left: 52px;
    line-height: 32px;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    background: transparent url("../images/overlay/loading_small.gif") 8px 50% no-repeat;
}
div.overlay .overlay-element-mask {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #000;
    display: none;
}
div.overlay .overlay-element-content {
    position: relative;
}
div.overlay .overlay-element-padding {
    padding: 10px;
}
div.overlay .overlay-element {
    min-width: 150px;
    min-height: 20px;
    vertical-align: top;
}
div.overlay img.overlay-element {
    -ms-interpolation-mode: bicubic;
}
div.overlay div.overlay-element, div.overlay iframe.overlay-element {
    background: #fff;
    color: #000;
    text-align: left;
    overflow: auto;
}
div.overlay .overlay-element .overlay-paragraph {
    margin: 8px 16px;
}
div.overlay .overlay-loading, div.overlay .overlay-error {
    display: none;
    color: #ccc;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #666;
    background: #000;
    background: -moz-linear-gradient(top, #333, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
    border-radius: 8px;
}
div.overlay .overlay-previous, div.overlay .overlay-next {
    display: none;
    top: 0;
    bottom: 0;
    width: 192px;
    position: absolute;
}
div.overlay .overlay-previous table, div.overlay .overlay-next table {
    width: 100%;
}
div.overlay .overlay-previous table td, div.overlay .overlay-next table td {
    padding: 0;
}
div.overlay div.overlay-btn-bg {
    padding: 32px;
    border: 1px solid #666;
    display: none;
    background: transparent url("../images/overlay/black_mask.png") 0 0 repeat;
}
div.overlay .overlay-previous div.overlay-btn-bg {
    margin-right: 64px;
    border-left: 0 none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
div.overlay .overlay-next div.overlay-btn-bg {
    margin-left: 64px;
    border-right: 0 none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
div.overlay .overlay-previous td div.overlay-btn-icon, div.overlay .overlay-next td div.overlay-btn-icon {
    padding-top: 74px;
    color: #ccc;
    font-size: 13px;
    text-align: center;
    width: 64px;
}
div.overlay .overlay-previous {
    left: 0;
}
div.overlay .overlay-previous td div.overlay-btn-icon {
    background: transparent url("../images/overlay/previous.png") 50% 0 no-repeat;
}
div.overlay .overlay-previous:hover td div.overlay-btn-bg {
    display: block;
}
div.overlay .overlay-next {
    right: 0;
}
div.overlay .overlay-next td div.overlay-btn-icon {
    background: transparent url("../images/overlay/next.png") 50% 0 no-repeat;
}
div.overlay .overlay-next:hover td div.overlay-btn-bg {
    display: block;
}

