{% load i18n %}{% load static %}
<div class="file-browser">

<div class="menu-place">
    <div class="title-bar">
        <h2>{% trans "File browser" %}</h2>
    </div>
    <div class="content-container">
        <p><a href="{% if back_url %}{{ back_url }}{% else %}/{% endif %}">← {% trans "Quit" %}</a></p>
        <ul id="fm_dirs_tree"></ul>
    </div>
</div>
<div class="content-place" id="fm_content_place">
    <div class="title-bar">
        <span class="buttons-bar">
            <button type="button" class="file-browser-btn btn-add-folder" id="fm_btn_add_folder"><i class="fa fa-folder"></i> {% trans "Add a folder" %}</button>
            <button type="button" class="file-browser-btn btn-add-file" id="fm_btn_add_file"><i class="fa fa-file"></i> {% trans "Add a file" %}</button>
            <button type="button" class="file-browser-btn btn-search" id="fm_btn_search"><i class="fa fa-search"></i> {% trans "Search" %}</button>
        </span>
        <h2 id="path_bar"></h2>
    </div>
    <div class="content-container">
        {% csrf_token %}
        {% if messages %}
            <div class="messages-container">
                <button type="button" class="file-browser-btn show-messages-btn" onclick="javascript: fbrowser.showMessages();">{% trans "Show messages" %}</button>
                <button type="button" class="file-browser-btn hide-messages-btn" onclick="javascript: fbrowser.hideMessages();">{% trans "Hide messages" %}</button>
                <div class="messages-list">
                    <!-- django message block -->
                    {% for message in messages %}
                        <div class="message-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div id="fm_files_list" class="files-list">
            <div class="message-info">{% trans "Loading" %}...</div>
        </div>
    </div>
    <div id="fm_drop_zone">
        <div class="drop-zone-bg">
            <div class="drop-zone-aligner">
                <div class="drop-zone-info">{% trans "Drop files here to add them" %}</div>
                <div class="drop-zone-upload">
                    <div>{% trans "Upload in progress" %}</div>
                    <progress id="progress" min="0" max="100" value="0">0 %</progress>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <span>{% trans "Total size:" %} <b id="fm_total_size">-</b></span>
        <span>{% trans "Number of folders:" %} <b id="fm_total_nb_dirs">-</b></span>
        <span>{% trans "Number of files:" %} <b id="fm_total_nb_files">-</b></span>
        <span>{% trans "Order by:" %}
            <select id="fm_files_ordering">
                <option value="name-asc">{% trans "name" %} ↑</option>
                <option value="name-desc">{% trans "name" %} ↓</option>
                <option value="size-asc">{% trans "size" %} ↑</option>
                <option value="size-desc">{% trans "size" %} ↓</option>
                <option value="mdate-asc">{% trans "modification date" %} ↑</option>
                <option value="mdate-desc">{% trans "modification date" %} ↓</option>
            </select>
        </span>
        <span><button type="button" id="fm_btn_refresh"><i class="fa fa-refresh"></i> {% trans "Refresh" %}</button></span>
    </div>
</div>

</div>
