{% load i18n %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'file_browser/file-browser.css' %}?_=7"/>
<script type="text/javascript" src="{% url namespace|add:':file_browser_jsi18n' %}"></script>
<script type="text/javascript" src="{% static 'file_browser/file-browser.js' %}?_=7"></script>
<script type="text/javascript">
    var fbrowser = new FileBrowser({
        baseURL: "{{ base_url }}",
        dirsURL: "{% url namespace|add:':file_browser_dirs' %}",
        contentURL: "{% url namespace|add:':file_browser_content' %}",
        previewURL: "{% url namespace|add:':file_browser_img_preview' %}",
        actionURL: "{% url namespace|add:':file_browser_action' %}"
    });
</script>
